.navbar {
  max-width: 1300px; /* Width to match other components */
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 8px;
}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #282c34;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #61dafb;
}

.booking-btn {
  background-color: #61dafb;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
  margin-left: 20px;
  color: white;
}

.navbar-item {
  margin: 0 10px;
}

.main-wrapper {
  padding-top: 20px; /* Space between nav and content */
}

.navbar-toggler {
  border: none;
}

/* Mobile nav adjustments */
.menu-bar, .close-btn {
  display: block;
  cursor: pointer;
}

/* General styling for nav items */
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .btn-link {
font-size: 1rem;
font-weight: 500;
color: #282c34;
text-align: center;
width: 100%;
padding: 8px;
transition: color 0.3s ease;
}

/* Styling for hover effect */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .btn-link:hover {
color: #61dafb;
}

@media screen and (max-width: 980px) {
  .navbar .navbar-nav .nav-item {
      text-align: center;
      width: 100%;
  }
  .navbar .navbar-nav .nav-link {
    padding: 8px;
  }
}