.findbooking-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.findbooking-card {
  border: 1px solid #fafafa;
  background-color: rgb(128, 128, 128);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 5px 8px #4d4d4d;
}

.form-div {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #fafafa;
  padding: 10px 15px;
  border-radius: 10px;
}

.btn-findbooking {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-findbooking:hover {
  opacity: 80%;
}

.form-div label {
  padding-bottom: 10px;
}

.findbooking-wrapper h2 {
  border-bottom: 2px solid;
  font-weight: bold;
  padding-bottom: 5px;
}