.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .search-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust spacing between sections */
  }
  
  .search-section label {
    margin-bottom: 5px; /* Add some spacing between label and input */
  }
  
  .search-section input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* Style the search button */
.search-button {
    padding: 8px 20px; /* Adjust padding to make the button wider */
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Change background color to match your design */
    color: white; /* Change text color to contrast with background */
    font-size: 16px; /* Adjust font size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
    height: 40px; /* Adjust height of the button */
    width: 100px;
    margin-top: 26px;

    /* Hover effect */
    &:hover {
      background-color: #0056b3; /* Darker shade of blue on hover */
    }
  }